In [1]:
import pandas as pd

In [3]:
df = pd.read_excel(r"week19.xlsx",engine='openpyxl')

In [4]:
df.head()

   Rank     Country  Avg Price of 1GB (USD)
0     1       India                    0.09
1     2      Israel                    0.11
2     3  Kyrgyzstan                    0.21
3     4       Italy                    0.43
4     5     Ukraine                    0.46